.carousel-caption {
	padding-bottom:23.75rem;
}
#foote{
	background-color:#4a5562;
}
#foter{
       background-color:#515d6a;	
}

#img{
	background-color:#f8f9fa;
	
}
#reso{
	color:red; 
	font-size:50px;
	position:relative;
	top:20px;
	left:5px;
	
	
	
}
#work{
	color:red; 
	font-size:50px;
	position:relative;
	top:20px;
	left:5px;
}

#edit{
	color:red; 
	font-size:50px;
	position:relative;
	top:20px;
	left:5px;
}
#event{
	color:red; 
	font-size:50px;
	position:relative;
	top:20px;
	left:5px;
}
hr{
	
	 width: 50px;
	 margin-left:150px;
	
	
}

span{
	
	 margin-left:150px;
}



#res{
	color:red; 
	font-size:50px;
	position:relative;
	top:60px;
	left:10px;
	
	
	
}
#wor{
	color:red; 
	font-size:50px;
	position:relative;
	top:60px;
	left:10px;
}

#edi{
	color:red; 
	font-size:50px;
	position:relative;
	top:60px;
	left:10px;
}
#even{
	color:red; 
	font-size:50px;
	position:relative;
	top:100px;
	left:10px;
}

h5{
      padding-left:150px; 
	  margin-top:-68px;
	  margin-bottom:1.5rem;




	
}















